* {
    box-sizing: border-box;
}
/*========MASTER CONTAINER=========*/
.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0 auto;
}
/*========MASTER NAVBAR=========*/
.nav-grid {
    grid-area: 1 / 1 / 7 / 2;
    display: grid;
    height: 60%;
    background-color: lightskyblue;
}
/*========MASTER HEADER=========*/
.header-grid {
    background-color: black;
    grid-area: 1 / 7 / 2 / 2;
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40% 60%;

}
/*========MASTER MAIN SECTION=========*/
.main-grid {
    background-color: pink;
    grid-area: 2 / 2 / 7 / 7;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 60px;
}



/*======= Nav Buttons ========*/
.nav {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*====== two header rows ======*/
.header-1 {
    background-color: lightgray;
    display: flex;
}
.search {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.search-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-img {
    height: 40px;
    width: 40px;
}
.search-input {
    height: 40px;
    width: 550px;
    background-color: lightgray;
    border-radius: 20px;
}
.header-2 {
    background-color: green;
}
/*===== main section block ======*/

.main-grid div {
    border: 1px solid black;
    margin: 40px;
    background-color: grey;
}

.project-1 {
    grid-area: 3/1 / 1/1;
}
.project-2 {
    grid-area: 5/1 / 3/1;
}
.project-3 {
    grid-area: 7/1 / 5/1;
}
.project-4 {
    grid-area: 3/2 / 1/3;
}
.project-5 {
    grid-area: 5/2 / 3/3;
}
.project-6 {
    grid-area: 7/2 / 5/3;
}
.announcements {
    grid-area: 4/3 / 1/5;
}
.trending {
    grid-area: 7/3 / 4/5;
}
