* {
    box-sizing: border-box;
}
/*========MASTER CONTAINER=========*/
.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    margin: 0 auto;
    background-color: lightskyblue;
}
/*========MASTER NAVBAR=========*/
.nav-grid {
    grid-area: 1 / 1 / 5 / 1;
    display: grid;
    height: 60%;
    background-color: lightskyblue;
}
/*========MASTER HEADER=========*/
.header-grid {
    background-color: black;
    grid-area: 1 / 5 / 1 / 2;
    border: 2px solid black;
}
/*========MASTER MAIN SECTION=========*/
.main-grid {
    background-color: pink;
    grid-area: 2 / 2 / 5 / 5;
    border: 2px solid black;
}
/*======= Nav Buttons ========*/
.nav {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* !! INCREASE GRID RESOLUTION !!*/