* {
    box-sizing: border-box;
}
/*========MASTER CONTAINER=========*/
.grid-container {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*========MASTER NAVBAR=========*/
.nav-grid {
    grid-area: 1 / 1 / 7 / 2;
    display: grid;
    height: 100%;
    padding-bottom: 30vh;
    background-color: hsla(248, 77%, 25%, 0.56);
}
/*========MASTER HEADER=========*/
.header-grid {
    background-color: black;
    grid-area: 1 / 7 / 2 / 2;
    display: grid;
    border: 2px solid black;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 40% 60%;

}
/*========MASTER MAIN SECTION=========*/
.main-grid {
    background-color: lightgrey;
    grid-area: 2 / 2 / 7 / 7;
    border: 2px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    padding-top: 60px;
}
/*======= Nav Buttons ========*/
.nav {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*===== two header rows =====*/
/*===== header one =====*/
.header-1 {
    background-color: lightgray;
    display: flex;
}
/*===== search bar =====*/
.search {
    display: flex;
    align-items: center;
    margin-left: 40px;
}
.search-btn {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-img {
    height: 40px;
    width: 40px;
    background-color: lightgray;
}
.search-input {
    height: 40px;
    width: 44vw;
    border-radius: 20px;
}
/*=====  profile =====*/
.profile {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
}
.bell-icon {
    height: 30px;
    width: 30px;
}
.profile-pic {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 15px;
    margin-right: 10px;;
}
.profile-name{
    font-size: 20px;
}
/*===== header two =====*/
.header-2 {
    background-color: lightgray;
    display: flex;
    padding-left: 40px;
}
.big-photo {
    border-radius: 50%;
    height: 100px;
}
.welcome-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    font-weight: 500;
}
.span1 {
    font-size: 20px;
    margin-bottom: 10px;
}
.span2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}
.buttons {
    display: flex;
    position:relative;
    align-items: center;
    gap: 30px;
    margin-left: auto;
    margin-right: 40px;
}
button {
    width: 8vw;
    height: 50px;
    border-radius: 15%;
    background-color: hsla(248, 77%, 25%, 0.56);
    font-size: 1.5rem;
    color: lightgray;
}
/*===== main section block ======*/
#projects {
    background-color: lightgrey;
    grid-area: 1/3 / 7/1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.033vh 1fr 1fr 1fr ;
    margin: 45px;
    gap: 20px;
    font-size: 1.5rem;
    font-weight: bold;
}
#projects div {
    margin-top: 1vh;
}
#projects span {
    font-size: 1rem;
    font-weight: normal;
}
.project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
    font-size: 1rem;
    padding: 20px;
    position: relative;
    border: 1px solid black;
}
.project-1 {
    grid-area: 2/1 / 2/1;
}
.project-2 {
    grid-area: 2/2 / 2/2;
}
.project-3 {
    grid-area: 3/1 / 3/1;
}
.project-4 {
    grid-area: 3/2 / 3/2;
}
.project-5 {
    grid-area: 4/1 / 4/1;
}
.project-6 {
    grid-area: 4/2 / 4/3;
}

#announcements {
    grid-area: 4/3 / 1/5;
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 45px;
    font-size: 1.5rem;
    font-weight: bold;
}
.announcements {
    flex: 1;
    border: 1px solid black;
    font-size: medium;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.announcements div {
    flex: 1;
    padding-bottom: 6px;
}
#trending {
    grid-area: 7/3 / 4/5;
    display: flex;
    flex-direction: column;   
    margin: 45px;
    font-size: 1.5rem;
    font-weight: bold;
}
.trending {
    flex: 1;
    border: 1px solid black;
}
.icons img {
    height: 35px;
}
.flex {
    display: flex;
    gap:5px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.trending-photo {
    height: 60px;
    border-radius: 50%;
}
.trending-text {
    display: flex;
    border: 1px solid black;
    justify-content: center;
    margin-left: 20px;
    font-weight: 500;
}
.trending .span1 {
    font-size: 10px;
}
.trending .span2 {
    font-size: 10px;
}